html {

    height: 100%;

}

body{

    font-family: Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    background-color: #eee

}

/*Site Title Code*/

.site_title {

    font-family: papyrus;
    font-weight: 900;
    font-size: 50pt;
    position: relative;
    height: 80px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 3px solid black;
    

}

header a{

    text-decoration: none;
    color: black;

}

/* Game Board Code */

.board_container {

    position: absolute;
    height: 100%;
    width: 80%;
    float: left;
    margin-right: 20%;
}

.board {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.square {

    position: relative;
    float: left;
    height: 33.3%;
    width: 33.3%;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 750%;

}

.square:hover {

    background-color: gainsboro;

}

.red {

    color: #dd3400;

}

.blue {

    color: royalblue;

}

#grid1 {

    border-left: none;
    border-top: none;
    
}

#grid2 {

    border-top: none;

}

#grid3 {

    border-right: none;
    border-top: none;

}

#grid4 {

    border-left: none;

}

#grid6 {

    border-right: none;

}

#grid7 {

    border-left: none;
    border-bottom: none;

}

#grid8 {

    border-bottom: none;

}

#grid9 {

    border-right: none;
    border-bottom: none;

}

/* Sidebar Code */

.scorebar {

    position: absolute;
    width: 20%;
    min-height: 100%;
    right: 0;
    vertical-align: top;
    float: left;
    margin: 0;
    border-left: 3px solid black;
}

.player_score_container {

    margin: 10px;
    position: relative;

}

.score_header {

    text-align: center;

}

.score_body {

    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
}

.player_score {

    color: royalblue;
    font-size: 20pt;

}


.cpu_score {

    color: #A62700;
    font-size: 20pt;
}

/* Code for the "You Won" dialog box */

.hidden {

    display: none;

}

#modal_backdrop {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.85);

}

#you_won_modal{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;

}

.modal_dialogue {

    margin: 200px auto;
    background-color: #ffffff;
    z-index: -1;
    width: auto;
    max-width: 500px;
    min-width: 350px;
    min-height: 220px;
    border-radius: 20px;

}

.modal_header {

    padding-top: 5px;
    margin: auto;
    text-align: center;

}

.modal_body {

    padding: 20px;

}

.name_input_element {

    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 5px 0;

}

.name_input_element label {

    font-weight: 600;
    flex: 1 75px;

}

.name_input_element input,
.name_input_element textarea {

    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid black;

}

.name_input_area textarea {

    min-height: 64px;

}

.modal_footer {

    position: relative;

}

#name_button {

    position: absolute;
    right: 40px;
    border: 1px solid black;
    padding: 15px 32px;
    border-radius: 10px;
    background-color: lightblue;

}

#name_button:hover {

    cursor: pointer;
    background-color: lightskyblue;

}

#leaderboard_list{
    position: relative;
    text-indent: 5px;
    line-height: 30px;
}