<!--This is the game board. Each button represents a square on a tic-tac-toe board.-->
<main class = "board_container">
    <div class = "board">
        <button id = "grid1" class = "square red">X</button>
        <button id = "grid2" class = "square"></button>
        <button id = "grid3" class = "square blue">O</button>
        <button id = "grid4" class = "square"></button>
        <button id = "grid5" class = "square blue">O</button>
        <button id = "grid6" class = "square"></button>
        <button id = "grid7" class = "square blue">O</button>
        <button id = "grid8" class = "square"></button>
        <button id = "grid9" class = "square red">X</button>
    </div>
</main>

<div class = "scorebar">
    <div class = "player_score_container">

        <div class = "score_header"><h2>Current Score</h2></div>

        <div class = "score_body">
            <div class = "player_score">YOU - 3</div>
            <div class = "cpu_score">2 - CPU</div>
        </div>
    </div>

    <div class = "leaderboard_container">

        <div class = "score_header"><h2>Leaderboards</h2></div>

        <ol id = "leaderboard_list">
            <!--NOTE: These are hardcoded test values. They should probably be changed -->
            <li>Jonathan: 77</li>
            <li>Hyunjae: 76</li>
            <li>Ansen: 30</li>
            <li>Hiroto: 25</li>
        </ol>
    </div>
</div>

<div id = "modal_backdrop" class="hidden"></div>
<div id = "you_won_modal" class="hidden">
    <div class = "modal_dialogue">

        <div class = "modal_header">
            <h3>You have won! Please enter your name.</h3>
        </div>

        <div class = "modal_body">
            <div class="name_input_element">
                <label for="user_name_input">Name:</label>
                <input type="text" id="username">
            </div>
        </div>

        <div class = "modal_footer">
            <button id="name_button">Enter</button>
        </div>
            
    </div>
</div>