<!--This is the game board. Each button represents a square on a tic-tac-toe board.-->
<main class = "board_container">
    <div class = "board">
        <table class = "game-grid">
            <tr>
                <td class = "no-left-border no-top-border"> </td>
                <td class = "no-top-border"> </td>
                <td class = "no-right-border no-top-border"> </td>
            </tr>
            <tr>
                <td class = "no-left-border"> </td>
                <td> </td>
                <td class = "no-right-border"> </td>
            </tr>
            <tr>
                <td class = "no-left-border no-bottom-border"> </td>
                <td class = "no-bottom-border"> </td>
                <td class = "no-right-border no-bottom-border"> </td>
            </tr>
        </table>
    </div>
</main>

<div class = "scorebar">
    <div class = "player_score_container">

        <div class = "score_header"><h2>Current Score</h2></div>

        <div class = "score_body">
            <div class = "player_score">YOU - 3</div>
            <div class = "cpu_score">2 - CPU</div>
        </div>
    </div>

    <div class = "leaderboard_container">

        <div class = "score_header"><h2>Leaderboards</h2></div>

        <ol id = "leaderboard_list">
            {{#each user_data}}
                {{> leaderboard}}
            {{/each}}
        </ol>
    </div>
</div>

<div id = "modal_backdrop" class="hidden"></div>
<div id = "you_won_modal" class="hidden">
    <div class = "modal_dialogue">

        <div class = "modal_header">
            <h3>You have won! Please enter your name.</h3>
        </div>

        <div class = "modal_body">
            <div class="name_input_element">
                <label for="user_name_input">Name:</label>
                <input type="text" id="username">
            </div>
        </div>

        <div class = "modal_footer">
            <button id="name_button">Enter</button>
        </div>
            
    </div>
</div>